## 1. There are Different data types in Python like Strings,List,Tuples,Dictionary,Set,Boolean

## 2. For List there is square Bracket #Any Variable can be inside this int,strings,Boolean #List are mutable i.e can be changed

In [1]:
Writer=['Vikram','Naipaul','Rushdie','Nicholas']
print(Writer)

['Vikram', 'Naipaul', 'Rushdie', 'Nicholas']

## 3. Accessing Value from a List #In Python Indexing Starts from 0

In [3]:
print(Writer[0])

Vikram

In [5]:
#This means Staring from 0 till end

Writer[0:]

['Vikram', 'Naipaul', 'Rushdie', 'Nicholas']

## 4.Changing elements since lists are mutable

In [6]:
Writer[0]='Fidel'

In [7]:
print(Writer)

['Fidel', 'Naipaul', 'Rushdie', 'Nicholas']

## 5. Built in function for List

In [10]:
print(len(Writer))
print (min(Writer))
print (max(Writer))

4
Fidel
Rushdie

In [12]:
## Sorted based on alphabetically

Writer.sort()
print (Writer)

['Fidel', 'Naipaul', 'Nicholas', 'Rushdie']

In [13]:
## New Element Added to the list

Writer.insert(4,'Proust')

print(Writer)

['Fidel', 'Naipaul', 'Nicholas', 'Rushdie', 'Proust']

In [14]:
## List Concatenation

Hollywood_Film=['Argo','Manhattan','Munich','Notebook']

Bollywood_Film=['Masaan','Lunchbox']

Film=Hollywood_Film + Bollywood_Film

print(Film)

['Argo', 'Manhattan', 'Munich', 'Notebook', 'Masaan', 'Lunchbox']

In [15]:
## Iterate over a list (For Loop)

for i in Film:
    print(i)

Argo
Manhattan
Munich
Notebook
Masaan
Lunchbox

## 6. Dictionary Data types (it is having Keys and Values)

In [17]:
Programming = {1: 'Python', 2: 'Java', 3: 'scala', 4: 'Julia'}

In [18]:
print(Programming.keys())

print('***Ginger Tea Break***')

print(Programming.values())

dict_keys([1, 2, 3, 4])
***Ginger Tea Break***
dict_values(['Python', 'Java', 'scala', 'Julia'])

In [19]:
## Adding new Key and Value to a Dictionary

Programming[5]='Unix'

print(Programming)

{1: 'Python', 2: 'Java', 3: 'scala', 4: 'Julia', 5: 'Unix'}

In [20]:
## Iterate over a Dictionary
## To get the keys from Dictionary 

for i in Programming:
    print (i)

1
2
3
4
5

In [21]:
##To Get the Values from the Dictionary

for i in Programming.values():
    print(i)

Python
Java
scala
Julia
Unix

In [65]:
# To Get the keys and Values from Dictionary

for k,v in Programming.items():
    print(k,v)

1 Python
2 Java
3 scala
4 Julia
5 Unix

## 7. Strings are surrounded by single or double quoataion

In [25]:
A='Data Engineer'
print(A)

Data Engineer

In [26]:
## Retreiving the chracter from 0 posotion

A[0:]

'Data Engineer'

In [27]:
## Strings are Immutable

A= 'Data Scientist'
print(A)

Data Scientist

In [28]:
#Looping through a String

for x in A:
    print(x)

D
a
t
a

S
c
i
e
n
t
i
s
t

In [30]:
## To Check the Length of a String(This counts Spaces too)

len(A)

14

In [31]:
## Searching a word in a string

Philospher='The european were very vocal in broadcasting their suffering to the world'

print('vocal' in Philospher)

print ('american' not in Philospher)

True
True

In [32]:
## builtin methods for String

In [33]:
Philospher.upper()

'THE EUROPEAN WERE VERY VOCAL IN BROADCASTING THEIR SUFFERING TO THE WORLD'

In [34]:
Philospher.lower()

'the european were very vocal in broadcasting their suffering to the world'

In [36]:
## To Replace in a string

In [101]:
Philospher.replace('suffering','architecture')

'The european were very vocal in broadcasting their architecture to the world'

In [37]:
## To splits the string into substrings if it finds instances of the delimiter)

In [38]:
Nolan="Inception,Tenet;Dunkirk,Memento"
Nolan.split(';')

['Inception,Tenet', 'Dunkirk,Memento']

In [40]:
## Endswith and Startswith

print(Philospher.startswith('The'))
print(Philospher.endswith('world'))

True
True

## 8. Tuple,they are immutable

In [42]:
T=('Hilton','Hinton')

In [43]:
len(T)

2

In [44]:
#Since tuple are immutable

T[1]='CNN'

TypeError: 'tuple' object does not support item assignment

In [45]:
T

('Hilton', 'Hinton')

In [46]:
#for loop for creating tuple

d=('so',)
n=3
for i in range(int(n)):
    d=(d,)
    print(d)

(('so',),)
((('so',),),)
(((('so',),),),)

In [47]:
## Similar to lists and dictionaries, tuples support mixed types and nesting,
## they don't grow and shrink because they are immutable type

In [48]:
Haldiram=(1 ,'Sweets',['MilkCake','KajuKaltli','DodaBarfi'])

In [49]:
#Fetching Number 1 from Tuple
print(Haldiram[0])

#Fetching Sweets from tuple
print(Haldiram[1])

#Fetching from list
print(Haldiram[2][0])

1
Sweets
MilkCake

## 9. List Comprehension #This has a shorter syntax when you want to create a new list based on Certain Condition

In [51]:
#To get the Even Number from a List

X=[1,2,3,4,5,6,7,8,9,10]
[num for num in X if num % 2 ==0 ]

[2, 4, 6, 8, 10]

In [52]:
#To get the Odd Number from a List

X=[1,2,3,4,5,6,7,8,9,10]
[num for num in X if num % 2 ==1]

[1, 3, 5, 7, 9]

In [53]:
#To find a word from a List
##Use Case: Getting the Best Singer from a List

Singer=['Madonna','Elvis','Adele','Taylor Swift','James','Shilpa Rao']
[num for num in Singer if num[0]=='S']

['Shilpa Rao']

In [54]:
#If Else statement
#Use Case: To Get the company name based on the Salary

Salary = 2100000

if Salary < 2000000:
    print('Wipro')
elif Salary > 2000000:
    print ('Jpmc')
else:
    print('Ibm')

Jpmc

In [56]:
## Function To get the sum of all numbers
## Use Case: Company Total Expenditure in a Month

def salary_expenditure(*x):
    total=0
    for i in x:
        total=total+i
    return(total)

In [57]:
salary_expenditure(1000,2000,3000)

6000

## 10 .Zip()used to map the similar index of multiple containers(list,tuples,string) so that they can be used just using as #single entity.

In [58]:
#Initializing lists
Vaccine = ["Covaxin","Covishield","Sputnik"]
Efficacy = [89,84,82]
Doses = [1000,3000,280]

India=zip(Vaccine,Efficacy,Doses)
India=set(India)
print(India)

{('Covishield', 84, 3000), ('Covaxin', 89, 1000), ('Sputnik', 82, 280)}

## 11. Dictionary Comprehension #Dictionary comprehension (Python 3.x) to make dictionary from those two lists

#Use Case: Based on the Order create a dictionary

In [61]:
keys = ['Transaction', 'General Services', 'Position']
values = [1,2,3]

Dictionary={k:v for (k,v) in zip(keys,values)}
Dictionary

{'Transaction': 1, 'General Services': 2, 'Position': 3}

In [62]:
#Use Case: Similar to List Comprehension operation in Dictionary

In [63]:
DC={x:x**2 for x in [1,2,3,4,5]}
DC

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#Lambda Function--Anonymous Function

In [78]:
##Use case: Add 100 to argument y, and return the result:
    
x=lambda y : y + 1

print(x(100))

101

In [81]:
#Multiply argument a,b with argument d and return the result:

x=lambda a,b,d:a*b*d

print(x(2,5,8))

80

## 12. map() function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

Syntax :
map(fun, iter)

In [87]:
## Use case: Add 1 to each value  

def addition(n):
    return n + 1
  
#Add 1 numbers using map to each element ()
numbers = (14, 15, 16)
result = map(addition, numbers)
print(list(result))

[15, 16, 17]

In [88]:
## Similar result can be acheived using lambda and Map 

x=[14,15,16]
y=map(lambda x:x+1,x)
print(list(y))

[15, 16, 17]

In [90]:
##Using any and All

x = [True, True, False]

if any(x):
    print("At least one True")
if all(x):
    print("Not one False")
if any(x) and not all(x):
    print("At least one True and one False")

At least one True
At least one True and one False